@define-color base            #191724;
@define-color surface         #1f1d2e;
@define-color overlay         #26233a;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ebbcba;
@define-color pine            #31748f;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #21202e;
@define-color highlightMed    #403d52;
@define-color highlightHigh   #524f67;

window#waybar {
  background: transparent;
  color: @text;
  font-family: "ZedMono Nerd Font", "M+1 Nerd Font";
  font-weight: 600;
}

.module {
  background: transparent;
}

.modules-center {
  background: transparent;
  color: @foam;
  border-radius: 8px;
  border: none;
  padding: 0 8px;
}

.modules-right, .modules-left {
  background: transparent;
  border: none;
  padding: 0;
}

#tools {
  background: alpha(@base, 0.95);
  border-radius: 8px;
  border: 1px solid @highlightMed;
  padding-left: 8px;
}

#screenshot {
  border-left: 1px solid @highlightMed;
  padding-left: 8px;
  padding-right: 8px;
}

#custom-screenshot-window, #custom-screenshot-region {
  padding-left: 16px;
}

#image {
  padding-right: 8px;
}


#workspaces {
  background: alpha(@base, 0.95);
  border-radius: 8px;
  border: 1px solid @highlightMed;
  padding: 0 4px;
}

#workspaces button {
  background: transparent;
  padding: 3px 4px;
  border-radius: 0;
  color: @subtle;
}

#workspaces button:hover {
  background: transparent;
  box-shadow: none;
  text-shadow: none;
}

#workspaces:first-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#workspaces:last-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#workspaces button.empty {
  color: @subtle;
}

#workspaces button.visible {
  color: @subtle;
}

#workspaces button.active {
  color: @love;
}

#workspaces button.urgent {
  color: @gold;
}

#system-info {
  background: alpha(@base, 0.95);
  border-radius: 8px;
  border: 1px solid @highlightMed;
  padding: 0 8px;
  color: @subtle;
}

#cpu {
  padding-right: 8px;
  border-right: 1px solid @highlightMed;
}

#memory {
  padding-left: 8px;
  /* border-right: 1px solid @highlightMed; */
}

#gamemode {
  margin-left: -14px;
  color: @subtle;
}

#gamemode.running {
  color: @pine;
}

#privacy-item.screenshare {
  color: @foam;
}
#privacy-item.audio-in {
  color: @love;
}

#mpris.paused {
  color: @muted;
}

#custom-lyrics.lyric {
  color: @text;
}
#custom-lyrics.music {
  color: @pine;
}
#custom-lyrics.getting {
  color: @gold;
}
#custom-lyrics.paused {
  color: @muted;
}

#stats {
  background: alpha(@base, 0.95);
  border-radius: 8px;
  border: 1px solid @highlightMed;
  padding: 0 8px;
}

#custom-weather {
  padding-right: 8px;
  border-right: 1px solid @highlightMed;
}

#clock {
  padding-left: 8px;
  color: @rose;
}

#tray, #privacy, #custom-lyrics {
  background: alpha(@base, 0.95);
  padding: 0 8px;
  border-radius: 8px;
  border: 1px solid @highlightMed;
}
